body {
    font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-size: normal;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/**------- header ------**/

.header {
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-logo-italic {
    font-style: italic;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-logo {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03;
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-logo-img {
    font-style: italic;
}

.header-menu-list {
    display: flex;
}

.header-menu-item {}

.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02;
}

.header-menu-link:hover {
    color: #fd9222;
}

.header-menu-link:focus {
    color: #fd9222;
}

.header-soft-list {
    display: flex;

}

/**------- -------- ------**/

.main-section-one {
    padding-bottom: 80px;
}

.one-container {
    background-color: rgba(17, 17, 17, 0.60);
    border-radius: 30px;
    padding: 380px 40px 40px 40px;
}

.section-one-treat {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
    max-width: 484px;
}

.section-one-buy {
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section-one-how {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section-one-buy {
    padding: 14xp 40xp;
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 100px;
    background: #FD9222;
    border: none;
    cursor: pointer;
}

.section-one-scroll {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
}

/** --------------------------- **/

.section-two {
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-two-list {
    display: flex;
    padding-left: 18px;
    padding-right: 18px;
    gap: 88px;
}

.section-two-itam {
    width: calc((100% - 88px * 2) / 3);
}

.section-two-chapter {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.section-itam-parag {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/** --------------------------- **/

/**------- section-three -------**/

.section-three {
    padding-top: 120px;
}

.section-three-chapter {
    color: #111;
    text-align: center;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 412px;
    margin: 0 auto 28px;
}

.section-three-chapter span {
    color: #FD9222;
}

.section-three-parag {
    color: #111;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 486px;
    margin: 0 auto 50px;
}

.section-three-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
}

.section-three-itam {
    border-radius: 15px;
    border: 1px solid #FD9222;
    background: #FFF;
    width: calc((100% -32 * 3) / 4);

}

.section-three-img-coco {}

.section-three-img-muts {}

.section-three-img {}

.section-three-tex {
    color: #111;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.section-three-tex-itam {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.19;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/** --------------------------- **/

/**------- section-four --------**/

.section-four {}

.made-rap {
    display: flex;
    gap: 20px;
}



.section-four-chapter {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em text-transform: uppercase;
}

.section-four-chapter span {
    color: #FD9222;
}

.section-four-img {}

.made-content {
    background-color: #FFF;
    padding: 32px;

}

.four-chapter {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
}

.section-four-list {}

.section-four-item {
    
}

.section-four-tex {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/** --------------------------- **/

/**------- section-five --------**/

.section-five {}

.section-five-chapter {
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.section-five-chapter span {
    color: #FD9222;
}

.section-five-list {}

.section-five-item {}

.section-five-img {}

.five-chapter {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.section-five-tex {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.section-five-btn {
    color: #111;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

/** --------------------------- **/

/**------- section-xix ---------**/

.section-six {}

.section-six-chapter {
    color: #FD9222;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.section-six-chapter span {
    color: #111;
}

.section-six-list {}

.section-six-item {}

.section-six-img {}

.six-chapter {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/** --------------------------- **/

/**------- section-seven -------**/

.section-seven {}

.section-seven-chapter {
    color: #FD9222;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.section-seven-chapter span {
    color: #111;
}

.section-seven-list {}

.section-seven-item {}

.section-seven-img {}

.seven-chapter {
    color: #111;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33
}

.section-seven-tex {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.section-seven-btn {
    color: #111;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/** --------------------------- **/

/**------- section-footer ------**/

.footer {
    background: #1E1823;
}

.footer-heading {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: calc(34 / 28);
    letter-spacing: -0.02em;
}

.footer-heading span {
    color: #FD9222;
}

.footer-subtitl {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
}

.footer-list {}

.footer-item {}

.footer-link {}

.footer-cont {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
}

.footer-address {
    font-style: normal;
}

.footer-address-list {}

.footer-address-atem {}

.footer-address-link {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.footer-nav {}

.footer-nav-list {}

.footer-nav-item {}

.footer-nav-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.footer-but {}

.footer-btn {}

/** --------------------------- **/